# 1. Merging dataframes

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

import numpy as np
import pandas_profiling

In [2]:
ggg = pd.read_csv('/Users/claudia/Ironhack/Final Project/Dataset/Global_Gender_Gap_index.csv')

In [3]:
ggg.head()

,Global_rank,country,Global_score,Global_Delta_Rank_2018,Global_2018_Score_change,Global_2006_Score_change
0,20,Albania,0.769,14,0.035,0.108
1,132,Algeria,0.634,-4,0.005,0.032
2,118,Angola,0.660,7,0.027,0.056
3,30,Argentina,0.746,6,0.014,0.063
4,98,Armenia,0.684,Ð,0.006,NaN

In [4]:
e_o = pd.read_csv('/Users/claudia/Ironhack/Final Project/Dataset/Economic_Partecipation and Opportunity.csv')

In [5]:
p_e = pd.read_csv('/Users/claudia/Ironhack/Final Project/Dataset/Political_Empowerment.csv')

In [6]:
ed = pd.read_csv('/Users/claudia/Ironhack/Final Project/Dataset/Educational Attainment.csv')

In [7]:
h_s = pd.read_csv('/Users/claudia/Ironhack/Final Project/Dataset/Health and Survival.csv')

In [8]:
ggg_years = pd.read_excel('/Users/claudia/Ironhack/Final Project/Dataset/gender_gap_report_years.xlsx')

In [9]:
ggg_years

,country,Region,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2020
0,Albania,Europe,0.6607,0.6685,0.6591,0.6601,0.6726,0.6748,0.6655,0.6412,0.6869,0.701,0.704,0.728,0.734,0.769
1,Algeria,Africa,0.6018,0.6068,0.6111,0.6119,0.6052,0.5991,0.6112,0.5966,0.6182,0.632,0.642,0.629,0.629,0.634
2,Angola,Africa,0.6039,0.6034,0.6032,0.6353,0.6712,0.6624,NaN,0.6659,0.6311,0.637,0.643,0.640,0.633,0.660
3,Argentina,South America,0.6829,0.6982,0.7209,0.7211,0.7187,0.7236,0.7212,0.7195,0.7317,0.734,0.735,0.732,0.733,0.746
4,Armenia,West Asia,NaN,0.6651,0.6677,0.6619,0.6669,0.6654,0.6636,0.6634,0.6622,0.668,0.669,0.677,0.678,0.684
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,Venezuela,South America,0.6664,0.6797,0.6875,0.6839,0.6863,0.6861,0.7060,0.7060,0.6851,0.691,0.694,0.706,0.709,0.713
143,Vietnam,Southeast Asia,NaN,0.6889,0.6778,0.6802,0.6776,0.6732,0.6867,0.6863,0.6915,0.687,0.700,0.698,0.698,0.700
144,Yemen,West Asia,0.4595,0.4510,0.4664,0.4609,0.4603,0.4873,0.5054,0.5128,0.5145,0.484,0.516,0.516,0.499,0.494
145,Zambia,Africa,0.6360,0.6288,0.6205,0.6310,0.6293,0.6300,0.6279,0.6312,0.6364,0.650,NaN,NaN,NaN,0.731
146,Zimbabwe,Africa,0.6461,0.6464,0.6485,0.6518,0.6574,0.6607,NaN,NaN,0.7013,0.709,0.710,0.717,0.721,0.730

In [10]:
h_s.shape

(153, 3)

In [11]:
ed.shape

(153, 3)

In [12]:
p_e.shape

(153, 3)

In [13]:
e_o.shape

(153, 3)

In [14]:
ggg1 = ggg.merge(p_e, on='country', how='left')

In [15]:
ggg1.shape

(153, 8)

In [16]:
ggg2 = ggg1.merge(e_o, on='country', how='left')

In [17]:
ggg2.shape

(153, 10)

In [18]:
ggg2.head()

,Global_rank,country,Global_score,Global_Delta_Rank_2018,Global_2018_Score_change,Global_2006_Score_change,P_rank,P_score,E_O_rank,E_O_score
0,20,Albania,0.769,14,0.035,0.108,23.0,0.376,36.0,0.743
1,132,Algeria,0.634,-4,0.005,0.032,99.0,0.145,138.0,0.461
2,118,Angola,0.660,7,0.027,0.056,46.0,0.262,96.0,0.640
3,30,Argentina,0.746,6,0.014,0.063,22.0,0.387,103.0,0.623
4,98,Armenia,0.684,Ð,0.006,NaN,114.0,0.118,78.0,0.673

In [19]:
ggg3 = ggg2.merge(ed, on='country', how='left')

In [20]:
ggg3.head()

,Global_rank,country,Global_score,Global_Delta_Rank_2018,Global_2018_Score_change,Global_2006_Score_change,P_rank,P_score,E_O_rank,E_O_score,E_rank,E_score
0,20,Albania,0.769,14,0.035,0.108,23.0,0.376,36.0,0.743,40.0,0.999
1,132,Algeria,0.634,-4,0.005,0.032,99.0,0.145,138.0,0.461,109.0,0.966
2,118,Angola,0.660,7,0.027,0.056,46.0,0.262,96.0,0.640,147.0,0.759
3,30,Argentina,0.746,6,0.014,0.063,22.0,0.387,103.0,0.623,64.0,0.995
4,98,Armenia,0.684,Ð,0.006,NaN,114.0,0.118,78.0,0.673,45.0,0.998

In [21]:
ggg4 = ggg3.merge(h_s, on='country', how='left')

In [22]:
ggg4.shape

(153, 14)

In [23]:
ggg_2020 = ggg4.merge(ggg_years, on='country', how='left')

In [24]:
ggg_2020.shape

(153, 29)

In [25]:
ggg_2020.head()

,Global_rank,country,Global_score,Global_Delta_Rank_2018,Global_2018_Score_change,Global_2006_Score_change,P_rank,P_score,E_O_rank,E_O_score,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2020
0,20,Albania,0.769,14,0.035,0.108,23.0,0.376,36.0,0.743,...,0.6726,0.6748,0.6655,0.6412,0.6869,0.701,0.704,0.728,0.734,0.769
1,132,Algeria,0.634,-4,0.005,0.032,99.0,0.145,138.0,0.461,...,0.6052,0.5991,0.6112,0.5966,0.6182,0.632,0.642,0.629,0.629,0.634
2,118,Angola,0.660,7,0.027,0.056,46.0,0.262,96.0,0.640,...,0.6712,0.6624,NaN,0.6659,0.6311,0.637,0.643,0.640,0.633,0.660
3,30,Argentina,0.746,6,0.014,0.063,22.0,0.387,103.0,0.623,...,0.7187,0.7236,0.7212,0.7195,0.7317,0.734,0.735,0.732,0.733,0.746
4,98,Armenia,0.684,Ð,0.006,NaN,114.0,0.118,78.0,0.673,...,0.6669,0.6654,0.6636,0.6634,0.6622,0.668,0.669,0.677,0.678,0.684

In [26]:
pd.set_option('display.max_columns', None)

In [27]:
ggg_2020.head()

,Global_rank,country,Global_score,Global_Delta_Rank_2018,Global_2018_Score_change,Global_2006_Score_change,P_rank,P_score,E_O_rank,E_O_score,E_rank,E_score,H_S_rank,H_S_score,Region,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2020
0,20,Albania,0.769,14,0.035,0.108,23.0,0.376,36.0,0.743,40.0,0.999,145.0,0.958,Europe,0.6607,0.6685,0.6591,0.6601,0.6726,0.6748,0.6655,0.6412,0.6869,0.701,0.704,0.728,0.734,0.769
1,132,Algeria,0.634,-4,0.005,0.032,99.0,0.145,138.0,0.461,109.0,0.966,140.0,0.962,Africa,0.6018,0.6068,0.6111,0.6119,0.6052,0.5991,0.6112,0.5966,0.6182,0.632,0.642,0.629,0.629,0.634
2,118,Angola,0.660,7,0.027,0.056,46.0,0.262,96.0,0.640,147.0,0.759,1.0,0.980,Africa,0.6039,0.6034,0.6032,0.6353,0.6712,0.6624,NaN,0.6659,0.6311,0.637,0.643,0.640,0.633,0.660
3,30,Argentina,0.746,6,0.014,0.063,22.0,0.387,103.0,0.623,64.0,0.995,1.0,0.980,South America,0.6829,0.6982,0.7209,0.7211,0.7187,0.7236,0.7212,0.7195,0.7317,0.734,0.735,0.732,0.733,0.746
4,98,Armenia,0.684,Ð,0.006,NaN,114.0,0.118,78.0,0.673,45.0,0.998,148.0,0.948,West Asia,NaN,0.6651,0.6677,0.6619,0.6669,0.6654,0.6636,0.6634,0.6622,0.668,0.669,0.677,0.678,0.684

In [28]:
ggg_2020.shape

(153, 29)

In [29]:
ggg_2020.drop(ggg_2020.iloc[:, 15:28], inplace=True, axis=1)

In [30]:
ggg_2020.head()

,Global_rank,country,Global_score,Global_Delta_Rank_2018,Global_2018_Score_change,Global_2006_Score_change,P_rank,P_score,E_O_rank,E_O_score,E_rank,E_score,H_S_rank,H_S_score,Region,2020
0,20,Albania,0.769,14,0.035,0.108,23.0,0.376,36.0,0.743,40.0,0.999,145.0,0.958,Europe,0.769
1,132,Algeria,0.634,-4,0.005,0.032,99.0,0.145,138.0,0.461,109.0,0.966,140.0,0.962,Africa,0.634
2,118,Angola,0.660,7,0.027,0.056,46.0,0.262,96.0,0.640,147.0,0.759,1.0,0.980,Africa,0.660
3,30,Argentina,0.746,6,0.014,0.063,22.0,0.387,103.0,0.623,64.0,0.995,1.0,0.980,South America,0.746
4,98,Armenia,0.684,Ð,0.006,NaN,114.0,0.118,78.0,0.673,45.0,0.998,148.0,0.948,West Asia,0.684

In [31]:
ggg_2020= ggg_2020.drop(ggg_2020.columns[-1],axis=1)

In [32]:
ggg_2020

,Global_rank,country,Global_score,Global_Delta_Rank_2018,Global_2018_Score_change,Global_2006_Score_change,P_rank,P_score,E_O_rank,E_O_score,E_rank,E_score,H_S_rank,H_S_score,Region
0,20,Albania,0.769,14,0.035,0.108,23.0,0.376,36.0,0.743,40.0,0.999,145.0,0.958,Europe
1,132,Algeria,0.634,-4,0.005,0.032,99.0,0.145,138.0,0.461,109.0,0.966,140.0,0.962,Africa
2,118,Angola,0.660,7,0.027,0.056,46.0,0.262,96.0,0.640,147.0,0.759,1.0,0.980,Africa
3,30,Argentina,0.746,6,0.014,0.063,22.0,0.387,103.0,0.623,64.0,0.995,1.0,0.980,South America
4,98,Armenia,0.684,Ð,0.006,NaN,114.0,0.118,78.0,0.673,45.0,0.998,148.0,0.948,West Asia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,67,Venezuela,0.713,-3,0.005,0.047,74.0,0.191,69.0,0.683,41.0,0.998,1.0,0.980,South America
149,87,Vietnam,0.700,-10,0.001,NaN,110.0,0.123,31.0,0.751,93.0,0.982,151.0,0.942,Southeast Asia
150,153,Yemen,0.494,-4,-0.006,0.034,151.0,0.018,151.0,0.273,150.0,0.717,129.0,0.966,West Asia
151,45,Zambia,0.731,NaN,NaN,0.095,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Africa
152,47,Zimbabwe,0.730,Ð,0.009,0.084,54.0,0.238,45.0,0.728,98.0,0.977,1.0,0.980,Africa

In [34]:
pop = pd.read_csv('/Users/claudia/Ironhack/Final Project/Dataset/population_total.csv')

In [35]:
pop.shape

(195, 302)

In [36]:
pop.head()

,country,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,1810,1811,1812,1813,1814,1815,1816,1817,1818,1819,1820,1821,1822,1823,1824,1825,1826,1827,1828,1829,1830,1831,1832,1833,1834,1835,1836,1837,1838,1839,1840,1841,1842,1843,1844,1845,1846,1847,1848,1849,1850,1851,1852,1853,1854,1855,1856,1857,1858,1859,1860,1861,1862,1863,1864,1865,1866,1867,1868,1869,1870,1871,1872,1873,1874,1875,1876,1877,1878,1879,1880,1881,1882,1883,1884,1885,1886,1887,1888,1889,1890,1891,1892,1893,1894,1895,1896,1897,1898,1899,1900,1901,1902,1903,1904,1905,1906,1907,1908,1909,1910,1911,1912,1913,1914,1915,1916,1917,1918,1919,1920,1921,1922,1923,1924,1925,1926,1927,1928,1929,1930,1931,1932,1933,1934,1935,1936,1937,1938,1939,1940,1941,1942,1943,1944,1945,1946,1947,1948,1949,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030,2031,2032,2033,2034,2035,2036,2037,2038,2039,2040,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050,2051,2052,2053,2054,2055,2056,2057,2058,2059,2060,2061,2062,2063,2064,2065,2066,2067,2068,2069,2070,2071,2072,2073,2074,2075,2076,2077,2078,2079,2080,2081,2082,2083,2084,2085,2086,2087,2088,2089,2090,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
0,Afghanistan,3280000,3280000,3280000,3280000,3280000,3280000,3280000,3280000,3280000,3280000,3280000,3280000,3280000,3280000,3280000,3280000,3280000,3280000,3280000,3280000,3290000,3300000,3310000,3320000,3340000,3350000,3370000,3380000,3400000,3410000,3430000,3450000,3460000,3480000,3490000,3510000,3520000,3540000,3550000,3570000,3590000,3600000,3620000,3630000,3650000,3670000,3680000,3700000,3720000,3730000,3750000,3770000,3790000,3810000,3830000,3840000,3860000,3880000,3900000,3920000,3940000,3960000,3980000,4000000,4020000,4040000,4060000,4080000,4100000,4120000,4140000,4160000,4180000,4210000,4230000,4250000,4270000,4290000,4310000,4330000,4350000,4380000,4400000,4420000,4440000,4460000,4490000,4510000,4530000,4550000,4580000,4600000,4620000,4650000,4670000,4690000,4710000,4740000,4760000,4790000,4830000,4880000,4940000,5000000,5060000,5130000,5200000,5260000,5330000,5470000,5680000,5980000,6360000,6850000,7370000,7920000,8520000,9170000,9880000,10300000,10600000,10500000,10300000,9710000,9200000,8720000,8260000,7830000,7420000,7100000,6870000,6720000,6640000,6640000,6640000,6640000,6640000,6640000,6640000,6660000,6700000,6770000,6850000,6950000,7060000,7170000,7280000,7390000,7500000,7620000,7750000,7840000,7940000,8040000,8150000,8270000,8400000,8540000,8680000,8830000,9000000,9170000,9350000,9540000,9740000,9960000,10200000,10400000,10600000,10900000,11200000,11500000,11800000,12100000,12400000,12700000,12900000,13200000,13300000,13400000,13400000,13200000,12900000,12500000,12200000,11900000,11700000,11600000,11600000,11900000,12400000,13300000,14500000,15800000,17100000,18100000,18900000,19400000,19700000,20200000,20800000,21600000,22600000,23700000,24700000,25700000,26400000,27100000,27700000,28400000,29200000,30100000,31200000,32300000,33400000,34400000,35400000,36300000,37200000,38000000,38900000,39800000,40800000,41700000,42600000,43500000,44400000,45400000,46300000,47200000,48100000,49000000,49900000,50800000,51700000,52600000,53500000,54300000,55200000,56100000,56900000,57700000,58600000,59400000,60200000,61000000,61700000,62500000,63200000,64000000,64700000,65400000,66100000,66700000,67400000,68000000,68600000,69200000,69800000,70300000,70800000,71400000,71800000,72300000,72800000,73200000,73600000,74000000,74300000,74700000,75000000,75300000,75500000,75800000,76000000,76200000,76400000,76500000,76700000,76800000,76900000,76900000,77000000,77000000,77000000,77000000,77000000,76900000,76900000,76800000,76700000,76600000,76400000,76300000,76100000,76000000,75800000,75600000,75400000,75200000,74900000
1,Albania,400000,402000,404000,405000,407000,409000,411000,413000,414000,416000,418000,420000,422000,424000,426000,427000,429000,431000,433000,435000,437000,439000,441000,443000,445000,447000,449000,451000,453000,455000,457000,459000,461000,463000,465000,467000,470000,472000,474000,476000,478000,480000,482000,485000,487000,489000,491000,493000,496000,498000,501000,505000,510000,515000,520000,525000,530000,535000,540000,545000,551000,556000,561000,567000,572000,578000,584000,589000,595000,601000,606000,612000,618000,624000,630000,636000,642000,648000,655000,661000,667000,674000,680000,687000,693000,700000,707000,714000,720000,727000,735000,742000,749000,757000,764000,772000,780000,788000,795000,803000,811000,819000,826000,834000,842000,849000,857000,865000,873000,881000,888000,895000,901000,907000,913000,919000,926000,932000,938000,944000,949000,955000,960000,965000,970000,975000,980000,985000,990000,997000,1000000,1010000,1020000,1030000,1040000,1050000,1060000,1080000,1090000,1100000,1110000,1120000,1140000,1150000,1160000,1180000,1190000,1210000,1220000,1240000,1260000,1290000,1320000,1350000,1380000,1420000,1460000,1500000,1540000,1590000,1640000,1690000,1740000,1790000,1840000,1900000,1950000,2000000,2050000,2100000,2150000,2200000,2250000,2310000,2360000,2410000,2460000,2520000,2570000,2630000,2680000,2740000,2790000,2840000,2900000,2970000,3040000,3120000,3200000,3260000,3290000,3280000,3250000,3200000,3150000,3110000,3100000,3100000,3110000,3120000,3130000,3130000,3130000,3120000,3100000,3090000,3060000,3030000,3000000,2970000,2950000,2930000,2910000,2900000,2900000,2890000,2890000,2880000,2880000,2880000,2880000,2870000,2870000,2860000,2850000,2840000,2830000,2820000,2810000,2800000,2790000,2770000,2760000,2750000,2740000,2720000,2710000,2690000,2670000,2650000,2630000,2620000,2600000,2580000,2550000,2530000,2510000,2490000,2470000,2450000,2420000,2400000,2380000,2360000,2330000,2310000,2290000,2260000,2240000,2210000,2190000,2170000,2140000,2120000,2090000,2070000,2040000,2020000,1990000,1970000,1940000,1920000,1890000,1860000,1830000,1810000,1780000,1750000,1720000,1690000,1660000,1630000,1600000,1570000,1540000,1510000,1480000,1450000,1420000,1390000,1360000,1330000,1300000,1270000,1250000,1220000,1190000,1170000,1140000,1110000,1090000
2,Algeria,2500000,2510000,2520000,2530000,2540000,2550000,2560000,2560000,2570000,2580000,2590000,2600000,2610000,2620000,2630000,2640000,2650000,2660000,2670000,2680000,2690000,2690000,2700000,2700000,2710000,2710000,2720000,2720000,2730000,2730000,2740000,2740000,2750000,2750000,2760000,2760000,2770000,2770000,2780000,2780000,2790000,2790000,2800000,2800000,2810000,2810000,2820000,2820000,2830000,2840000,2850000,2870000,2900000,2920000,2950000,2980000,3010000,3040000,3070000,3100000,3130000,3170000,3200000,3230000,3260000,3290000,3330000,3360000,3390000,3430000,3460000,3500000,3530000,3570000,3600000,3640000,3670000,3710000,3750000,3790000,3820000,3860000,3900000,3940000,3980000,4020000,4060000,4100000,4140000,4180000,4220000,4260000,4300000,4340000,4390000,4430000,4470000,4510000,4560000,4610000,4660000,4730000,4800000,4880000,4950000,5030000,5120000,5200000,5280000,5360000,5420000,5470000,5510000,5530000,5560000,5590000,5620000,5640000,5670000,5710000,5750000,5800000,5860000,5920000,5990000,6050000,6120000,6190000,6260000,6340000,6420000,6520000,6630000,6740000,6860000,6990000,7110000,7230000,7360000,7490000,7610000,7730000,7860000,7970000,8090000,8210000,8340000,8460000,8590000,8730000,8870000,9020000,9190000,9360000,9560000,9770000,10000000,10300000,10500000,10800000,11100000,11300000,11600000,11900000,12200000,12600000,12900000,13300000,13700000,14100000,14500000,14900000,15300000,15700000,16100000,16600000,17100000,17600000,18100000,18600000,19200000,19800000,20500000,21100000,21800000,22400000,23100000,23800000,24400000,25100000,25800000,26400000,27000000,27600000,28200000,28800000,29300000,29700000,30200000,30600000,31000000,31500000,31900000,32300000,32700000,33100000,33600000,34200000,34700000,35300000,36000000,36700000,37400000,38100000,38900000,39700000,40600000,41400000,42200000,43100000,43900000,44600000,45400000,46100000,46700000,47400000,48000000,48600000,49200000,49800000,50400000,50900000,51400000,52000000,52500000,53000000,53500000,54100000,54600000,55100000,55600000,56200000,56700000,57300000,57800000,58300000,58900000,59400000,59900000,60400000,60900000,61400000,61900000,62300000,62800000,63200000,63600000,64000000,64300000,64700000,65000000,65300000,65600000,65800000,66100000,66300000,66600000,66800000,67000000,67200000,67400000,67500000,67700000,67900000,68100000,68200000,68400000,68600000,68700000,68900000,69000000,69200000,69300000,69500000,69600000,69700000,69900000,70000000,70100000,70200000,70300000,70400000,70500000,70500000,70600000,70700000,70700000,70700000,70700000,70700000,70700000
3,Andorra,2650,2650,2650,2650,2650,2650,2650,2650,2650,2650,2650,2650,2650,2650,2650,2650,2650,2650,2650,2660,2660,2680,2690,2710,2730,2750,2770,2790,2810,2830,2850,2870,2890,2910,2930,2950,2970,2990,3010,3030,3060,3080,3100,3120,3140,3160,3190,3210,3230,3260,3280,3300,3320,3350,3370,3390,3420,3440,3460,3490,3510,3540,3560,3590,3610,3640,3660,3690,3710,3740,3760,3790,3820,3840,3870,3900,3920,3950,3980,4000,4030,4060,4090,4120,4140,4170,4200,4230,4260,4290,4320,4350,4380,4410,4440,4470,4500,4540,4570,4600,4630,4660,4690,4730,4760,4790,4820,4860,4890,4940,4990,5060,5140,5240,5330,5430,5530,5630,5740,5800,5820,5800,5740,5630,5530,5430,5330,5240,5140,5080,5040,5040,5060,5120,5170,5220,5280,5340,5390,5450,5510,5570,5630,5680,5750,5810,5870,5930,5990,6080,6200,6690,7250,7860,8530,9230,9980,10800,11600,12500,13400,14400,15400,16400,17500,18500,19600,20800,21900,23100,24300,25600,26900,28200,29500,30700,31800,32800,33700,34800,36100,37500,39100,40900,42700,44600,46500,48500,50400,52500,54500,56700,58900,61000,62700,63900,64400,64300,64100,64400,65400,67300,70000,73200,76200,78900,81000,82700,83900,84500,84500,83700,82400,80800,79200,78000,77300,77000,77000,77100,77300,77400,77500,77600,77700,77800,77900,77900,77900,77900,77900,77900,78000,78000,78000,78000,78000,78000,77900,77900,77900,77800,77700,77600,77500,77300,77100,76900,76700,76400,76100,75800,75400,75000,74600,74200,73800,73300,72800,72300,71800,71300,70800,70200,69700,69200,68700,68300,67800,67400,66900,66500,66200,65800,65500,65200,64900,64600,64400,64200,64000,63900,63700,63600,63500,63400,63300,63300,63200,63100,63100,63000,62900,62900,62800,62700,62700,62600,62500,62500,62400
4,Angola,1570000,1570000,1570000,1570000,1570000,1570000,1570000,1570000,1570000,1570000,1570000,1570000,1570000,1570000,1570000,1570000,1570000,1570000,1570000,1570000,1580000,1590000,1610000,1640000,1660000,1690000,1710000,1740000,1760000,1790000,1810000,1840000,1870000,1900000,1920000,1950000,1980000,2010000,2040000,2070000,2100000,2130000,2160000,2190000,2230000,2260000,2290000,2330000,2360000,2390000,2420000,2450000,2470000,2490000,2510000,2530000,2550000,2570000,2600000,2620000,2640000,2660000,2680000,2710000,2730000,2750000,2780000,2800000,2820000,2840000,2870000,2890000,2910000,2930000,2940000,2960000,2980000,3000000,3020000,3040000,3060000,3080000,3100000,3120000,3140000,3160000,3180000,3200000,3220000,3230000,3240000,3240000,3240000,3230000,3210000,3200000,3190000,3180000,3170000,3150000,3140000,3120000,3100000,3080000,3060000,3040000,3020000,3000000,2980000,2960000,2950000,2930000,2920000,2920000,2910000,2900000,2890000,2880000,2870000,2870000,2880000,2900000,2940000,2980000,3030000,3070000,3120000,3160000,3210000,3260000,3310000,3350000,3400000,3450000,3500000,3550000,3600000,3650000,3700000,3750000,3810000,3870000,3940000,4010000,4080000,4160000,4230000,4310000,4390000,4470000,4550000,4620000,4710000,4820000,4940000,5040000,5140000,5230000,5310000,5380000,5450000,5530000,5610000,5680000,5730000,5770000,5780000,5770000,5770000,5800000,5890000,6040000,6250000,6500000,6760000,7020000,7280000,7530000,7790000,8060000,8340000,8640000,8950000,9280000,9610000,9960000,10300000,10700000,11100000,11500000,11800000,12200000,12700000,13100000,13500000,13900000,14400000,14900000,15400000,15900000,16400000,16900000,17500000,18100000,18800000,19400000,20100000,20900000,21700000,22500000,23400000,24200000,25100000,26000000,26900000,27900000,28800000,29800000,30800000,31800000,32900000,33900000,35000000,36100000,37300000,38500000,39700000,40900000,42200000,43500000,44800000,46200000,47600000,49000000,50500000,52000000,53500000,55000000,56600000,58200000,59800000,61400000,63100000,64800000,66500000,68300000,70100000,71900000,73700000,75500000,77400000,79300000,81200000,83200000,85100000,87100000,89100000,91100000,93200000,95300000,97300000,99500000,102000000,104000000,106000000,108000000,110000000,112000000,115000000,117000000,119000000,121000000,124000000,126000000,128000000,131000000,133000000,135000000,137000000,140000000,142000000,144000000,147000000,149000000,151000000,154000000,156000000,158000000,161000000,163000000,165000000,168000000,170000000,172000000,175000000,177000000,179000000,182000000,184000000,186000000,188000000

In [37]:
pop_20 = pop.loc[:, ['country', '2020']]

In [38]:
ggg_2020 = ggg_2020.merge(pop_20, on='country', how='left')

In [39]:
ggg_20 = ggg_2020.rename(columns={"2020": "pop_2020"})

In [40]:
ggg_20

,Global_rank,country,Global_score,Global_Delta_Rank_2018,Global_2018_Score_change,Global_2006_Score_change,P_rank,P_score,E_O_rank,E_O_score,E_rank,E_score,H_S_rank,H_S_score,Region,pop_2020
0,20,Albania,0.769,14,0.035,0.108,23.0,0.376,36.0,0.743,40.0,0.999,145.0,0.958,Europe,2880000.0
1,132,Algeria,0.634,-4,0.005,0.032,99.0,0.145,138.0,0.461,109.0,0.966,140.0,0.962,Africa,43900000.0
2,118,Angola,0.660,7,0.027,0.056,46.0,0.262,96.0,0.640,147.0,0.759,1.0,0.980,Africa,32900000.0
3,30,Argentina,0.746,6,0.014,0.063,22.0,0.387,103.0,0.623,64.0,0.995,1.0,0.980,South America,45200000.0
4,98,Armenia,0.684,Ð,0.006,NaN,114.0,0.118,78.0,0.673,45.0,0.998,148.0,0.948,West Asia,2960000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,67,Venezuela,0.713,-3,0.005,0.047,74.0,0.191,69.0,0.683,41.0,0.998,1.0,0.980,South America,28400000.0
149,87,Vietnam,0.700,-10,0.001,NaN,110.0,0.123,31.0,0.751,93.0,0.982,151.0,0.942,Southeast Asia,97300000.0
150,153,Yemen,0.494,-4,-0.006,0.034,151.0,0.018,151.0,0.273,150.0,0.717,129.0,0.966,West Asia,29800000.0
151,45,Zambia,0.731,NaN,NaN,0.095,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Africa,18400000.0
152,47,Zimbabwe,0.730,Ð,0.009,0.084,54.0,0.238,45.0,0.728,98.0,0.977,1.0,0.980,Africa,14900000.0

In [41]:
wages = pd.read_csv('/Users/claudia/Ironhack/Final Project/Dataset/Wage and salaried workers_% of female employment.csv')

In [42]:
wages.head()

,country,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Afghanistan,1.45,1.56,1.44,1.53,2.06,1.57,1.57,1.59,1.6,1.61,1.64,2.19,1.67,1.63,1.74,1.7,1.76,1.7,2.11,2.3,2.72,3.3,3.82,4.53,5.38,6.41,7.55,7.74,7.88,8.03
1,Albania,27.70,27.60,27.70,28.60,29.50,30.30,31.80,31.80,32.5,33.70,34.70,36.00,37.10,38.30,39.50,40.7,41.90,32.8,34.80,37.0,34.70,32.0,37.10,40.70,42.50,43.40,44.30,45.30,46.20,47.10
2,Algeria,60.80,60.90,61.10,61.10,61.10,61.10,61.30,61.30,61.4,61.50,61.60,63.90,66.10,67.50,68.60,69.8,70.80,71.8,72.70,73.6,74.40,74.0,73.70,73.90,74.10,74.40,74.60,74.60,74.60,74.70
3,Angola,18.90,19.10,19.40,19.70,20.00,20.20,20.60,20.90,21.2,21.50,21.70,21.90,22.30,22.50,21.60,20.7,19.80,19.0,18.20,17.1,16.50,16.6,16.80,16.90,17.10,17.30,17.40,17.60,17.80,17.90
4,Argentina,71.40,72.50,71.30,72.10,74.90,74.30,75.00,75.50,75.8,76.40,76.10,78.10,78.80,79.00,79.40,80.2,80.90,80.8,80.10,80.6,81.30,81.3,80.90,80.50,79.90,79.20,78.50,77.40,77.30,77.20

In [43]:
wages_20 = wages.loc[:, ['country', '2020']]

In [44]:
wages_20.head()

       country   2020
0  Afghanistan   8.03
1      Albania  47.10
2      Algeria  74.70
3       Angola  17.90
4    Argentina  77.20

In [45]:
ggg_20 = ggg_20.merge(wages_20, on='country', how='left')

In [46]:
ggg_20

,Global_rank,country,Global_score,Global_Delta_Rank_2018,Global_2018_Score_change,Global_2006_Score_change,P_rank,P_score,E_O_rank,E_O_score,E_rank,E_score,H_S_rank,H_S_score,Region,pop_2020,2020
0,20,Albania,0.769,14,0.035,0.108,23.0,0.376,36.0,0.743,40.0,0.999,145.0,0.958,Europe,2880000.0,47.1
1,132,Algeria,0.634,-4,0.005,0.032,99.0,0.145,138.0,0.461,109.0,0.966,140.0,0.962,Africa,43900000.0,74.7
2,118,Angola,0.660,7,0.027,0.056,46.0,0.262,96.0,0.640,147.0,0.759,1.0,0.980,Africa,32900000.0,17.9
3,30,Argentina,0.746,6,0.014,0.063,22.0,0.387,103.0,0.623,64.0,0.995,1.0,0.980,South America,45200000.0,77.2
4,98,Armenia,0.684,Ð,0.006,NaN,114.0,0.118,78.0,0.673,45.0,0.998,148.0,0.948,West Asia,2960000.0,61.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,67,Venezuela,0.713,-3,0.005,0.047,74.0,0.191,69.0,0.683,41.0,0.998,1.0,0.980,South America,28400000.0,62.8
149,87,Vietnam,0.700,-10,0.001,NaN,110.0,0.123,31.0,0.751,93.0,0.982,151.0,0.942,Southeast Asia,97300000.0,38.6
150,153,Yemen,0.494,-4,-0.006,0.034,151.0,0.018,151.0,0.273,150.0,0.717,129.0,0.966,West Asia,29800000.0,29.8
151,45,Zambia,0.731,NaN,NaN,0.095,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Africa,18400000.0,11.8
152,47,Zimbabwe,0.730,Ð,0.009,0.084,54.0,0.238,45.0,0.728,98.0,0.977,1.0,0.980,Africa,14900000.0,25.2

In [47]:
ggg_20 =ggg_20.rename(columns={"2020": "wages_2020"})

In [48]:
ggg_20

,Global_rank,country,Global_score,Global_Delta_Rank_2018,Global_2018_Score_change,Global_2006_Score_change,P_rank,P_score,E_O_rank,E_O_score,E_rank,E_score,H_S_rank,H_S_score,Region,pop_2020,wages_2020
0,20,Albania,0.769,14,0.035,0.108,23.0,0.376,36.0,0.743,40.0,0.999,145.0,0.958,Europe,2880000.0,47.1
1,132,Algeria,0.634,-4,0.005,0.032,99.0,0.145,138.0,0.461,109.0,0.966,140.0,0.962,Africa,43900000.0,74.7
2,118,Angola,0.660,7,0.027,0.056,46.0,0.262,96.0,0.640,147.0,0.759,1.0,0.980,Africa,32900000.0,17.9
3,30,Argentina,0.746,6,0.014,0.063,22.0,0.387,103.0,0.623,64.0,0.995,1.0,0.980,South America,45200000.0,77.2
4,98,Armenia,0.684,Ð,0.006,NaN,114.0,0.118,78.0,0.673,45.0,0.998,148.0,0.948,West Asia,2960000.0,61.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,67,Venezuela,0.713,-3,0.005,0.047,74.0,0.191,69.0,0.683,41.0,0.998,1.0,0.980,South America,28400000.0,62.8
149,87,Vietnam,0.700,-10,0.001,NaN,110.0,0.123,31.0,0.751,93.0,0.982,151.0,0.942,Southeast Asia,97300000.0,38.6
150,153,Yemen,0.494,-4,-0.006,0.034,151.0,0.018,151.0,0.273,150.0,0.717,129.0,0.966,West Asia,29800000.0,29.8
151,45,Zambia,0.731,NaN,NaN,0.095,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Africa,18400000.0,11.8
152,47,Zimbabwe,0.730,Ð,0.009,0.084,54.0,0.238,45.0,0.728,98.0,0.977,1.0,0.980,Africa,14900000.0,25.2

In [50]:
ggg_20 = pd.read_csv('/Users/claudia/Ironhack/Final Project/Dataset/ggg_20.csv')

In [52]:
ggg_20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Global_rank               153 non-null    int64
 1   country                   153 non-null    object
 2   Region                    153 non-null    object
 3   regional_indicator        153 non-null    object
 4   Global_score              153 non-null    float64
 5   Global_Delta_Rank_2018    149 non-null    object
 6   Global_2018_Score_change  149 non-null    object
 7   Global_2006_Score_change  115 non-null    float64
 8   P_rank                    153 non-null    int64
 9   P_score                   153 non-null    float64
 10  E_O_rank                  153 non-null    int64
 11  E_O_score                 153 non-null    float64
 12  E_rank                    153 non-null    int64
 13  E_score                   153 non-null    float64
 14  H_S_rank                  151 non-null    float64
 15  H_S_score                 151 non-null    float64
 16  pop_20                    153 non-null    float64
 17  wages_20_%                153 non-null    float64
dtypes: float64(9), int64(4), object(5)
memory usage: 21.6+ KB

In [57]:
parl_seat = pd.read_csv('/Users/claudia/Ironhack/Final Project/Dataset/Proportion of seats held by women in national parliaments %.csv')

In [58]:
parl_seat.head()

,country,code,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.309237,27.309237,27.685950,27.685950,27.309237,27.710843,27.710843,27.710843,27.710843,27.710843,27.710843,27.710843,27.710843,NaN,27.868852,27.016129
1,Albania,ALB,NaN,NaN,5.161290,5.161290,5.714286,5.714286,5.714286,6.428571,7.142857,7.142857,7.142857,7.142857,16.428571,16.428571,15.714286,15.714286,17.857143,20.000000,20.714286,22.857143,27.857143,27.857143,29.508197,29.508197
2,Algeria,DZA,3.157895,3.157895,3.157895,3.421053,3.421053,6.169666,6.169666,6.169666,6.169666,6.169666,7.712082,7.712082,7.712082,7.712082,7.969152,31.601732,31.601732,31.601732,31.601732,31.601732,25.757576,25.757576,25.757576,25.757576
3,American Samoa,ASM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Andorra,AND,7.142857,7.142857,7.142857,7.142857,14.285714,14.285714,14.285714,14.285714,28.571429,28.571429,28.571429,25.000000,35.714286,35.714286,50.000000,50.000000,50.000000,50.000000,39.285714,32.142857,32.142857,32.142857,46.428571,46.428571

In [59]:
parl_seat_20 = parl_seat.loc[:, ['country', 'code', '2020']]

In [61]:
ggg_20 = ggg_20.merge(parl_seat_20, on='country', how='left')

In [63]:
ggg_20 =ggg_20.rename(columns={"2020": "parl_seat_20"})

In [67]:
ggg_20.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 153 entries, 0 to 152
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Global_rank               153 non-null    int64
 1   country                   153 non-null    object
 2   Region                    153 non-null    object
 3   regional_indicator        153 non-null    object
 4   Global_score              153 non-null    float64
 5   Global_Delta_Rank_2018    149 non-null    object
 6   Global_2018_Score_change  149 non-null    object
 7   Global_2006_Score_change  115 non-null    float64
 8   P_rank                    153 non-null    int64
 9   P_score                   153 non-null    float64
 10  E_O_rank                  153 non-null    int64
 11  E_O_score                 153 non-null    float64
 12  E_rank                    153 non-null    int64
 13  E_score                   153 non-null    float64
 14  H_S_rank                  151 non-null    float64
 15  H_S_score                 151 non-null    float64
 16  pop_20                    153 non-null    float64
 17  wages_20_%                153 non-null    float64
 18  code                      144 non-null    object
 19  parl_seat_20              144 non-null    float64
dtypes: float64(10), int64(4), object(6)
memory usage: 25.1+ KB

In [82]:
labour_force = pd.read_csv('/Users/claudia/Ironhack/Final Project/Dataset/females_labour_force_aged_15_64_percent.csv')

In [70]:
ggg_20 =ggg_20.rename(columns={"2020": "labour_force_20"})

In [72]:
ggg_20.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 153 entries, 0 to 152
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Global_rank               153 non-null    int64
 1   country                   153 non-null    object
 2   Region                    153 non-null    object
 3   regional_indicator        153 non-null    object
 4   Global_score              153 non-null    float64
 5   Global_Delta_Rank_2018    149 non-null    object
 6   Global_2018_Score_change  149 non-null    object
 7   Global_2006_Score_change  115 non-null    float64
 8   P_rank                    153 non-null    int64
 9   P_score                   153 non-null    float64
 10  E_O_rank                  153 non-null    int64
 11  E_O_score                 153 non-null    float64
 12  E_rank                    153 non-null    int64
 13  E_score                   153 non-null    float64
 14  H_S_rank                  151 non-null    float64
 15  H_S_score                 151 non-null    float64
 16  pop_20                    153 non-null    float64
 17  wages_20_%                153 non-null    float64
 18  code                      144 non-null    object
 19  parl_seat_20              144 non-null    float64
 20  labour_force_20           152 non-null    float64
dtypes: float64(11), int64(4), object(6)
memory usage: 26.3+ KB

In [75]:
unpaid_domestic = pd.read_csv('/Users/claudia/Ironhack/Final Project/Dataset/unpaid_domestic_work_fe.csv')

In [77]:
unpaid_domestic_avg = unpaid_domestic.loc[:, ['country', 'Avg_hr']]

In [78]:
ggg_20 = ggg_20.merge(unpaid_domestic_avg, on='country', how='left')

In [80]:
ggg_20.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 153 entries, 0 to 152
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Global_rank               153 non-null    int64
 1   country                   153 non-null    object
 2   Region                    153 non-null    object
 3   regional_indicator        153 non-null    object
 4   Global_score              153 non-null    float64
 5   Global_Delta_Rank_2018    149 non-null    object
 6   Global_2018_Score_change  149 non-null    object
 7   Global_2006_Score_change  115 non-null    float64
 8   P_rank                    153 non-null    int64
 9   P_score                   153 non-null    float64
 10  E_O_rank                  153 non-null    int64
 11  E_O_score                 153 non-null    float64
 12  E_rank                    153 non-null    int64
 13  E_score                   153 non-null    float64
 14  H_S_rank                  151 non-null    float64
 15  H_S_score                 151 non-null    float64
 16  pop_20                    153 non-null    float64
 17  wages_20_%                153 non-null    float64
 18  code                      144 non-null    object
 19  parl_seat_20              144 non-null    float64
 20  labour_force_20           152 non-null    float64
 21  Avg_hr                    85 non-null     float64
dtypes: float64(12), int64(4), object(6)
memory usage: 27.5+ KB

In [81]:
ggg_20.to_csv(r'/Users/claudia/Ironhack/Final Project/Dataset/ggg_20.csv', index=False)

In [85]:
ggg_20 = pd.read_csv('/Users/claudia/Ironhack/Final Project/Dataset/ggg_20.csv')

In [87]:
ggg_20 = ggg_20.drop(['labour_force_20'], axis =1)

In [88]:
ggg_20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Global_rank               153 non-null    int64
 1   country                   153 non-null    object
 2   code                      144 non-null    object
 3   Region                    153 non-null    object
 4   regional_indicator        153 non-null    object
 5   Global_score              153 non-null    float64
 6   Global_Delta_Rank_2018    149 non-null    object
 7   Global_2018_Score_change  149 non-null    object
 8   Global_2006_Score_change  115 non-null    float64
 9   P_rank                    153 non-null    int64
 10  P_score                   153 non-null    float64
 11  E_O_rank                  153 non-null    int64
 12  E_O_score                 153 non-null    float64
 13  E_rank                    153 non-null    int64
 14  E_score                   153 non-null    float64
 15  H_S_rank                  151 non-null    float64
 16  H_S_score                 151 non-null    float64
 17  pop_20                    153 non-null    int64
 18  wages_20_%                153 non-null    float64
 19  parl_seats_20             153 non-null    float64
 20  domestic_work_avg         85 non-null     float64
dtypes: float64(10), int64(5), object(6)
memory usage: 25.2+ KB

In [83]:
fe_labour_force_20 = labour_force.loc[:, ['country', '2020']]

In [84]:
fe_labour_force_20

         country    2020
0    Afghanistan  0.2040
1        Albania  0.5610
2        Algeria  0.1700
3         Angola  0.7630
4      Argentina  0.5530
..           ...     ...
174    Venezuela  0.5500
175      Vietnam  0.7960
176        Yemen  0.0572
177       Zambia  0.7120
178     Zimbabwe  0.8040

[179 rows x 2 columns]

In [89]:
ggg_20 = ggg_20.merge(fe_labour_force_20, on='country', how='left')

In [91]:
ggg_20 =ggg_20.rename(columns={"2020": "labour_force_20"})

In [93]:
ggg_20.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 153 entries, 0 to 152
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Global_rank               153 non-null    int64
 1   country                   153 non-null    object
 2   code                      144 non-null    object
 3   Region                    153 non-null    object
 4   regional_indicator        153 non-null    object
 5   Global_score              153 non-null    float64
 6   Global_Delta_Rank_2018    149 non-null    object
 7   Global_2018_Score_change  149 non-null    object
 8   Global_2006_Score_change  115 non-null    float64
 9   P_rank                    153 non-null    int64
 10  P_score                   153 non-null    float64
 11  E_O_rank                  153 non-null    int64
 12  E_O_score                 153 non-null    float64
 13  E_rank                    153 non-null    int64
 14  E_score                   153 non-null    float64
 15  H_S_rank                  151 non-null    float64
 16  H_S_score                 151 non-null    float64
 17  pop_20                    153 non-null    int64
 18  wages_20_%                153 non-null    float64
 19  parl_seats_20             153 non-null    float64
 20  domestic_work_avg         85 non-null     float64
 21  labour_force_20           152 non-null    float64
dtypes: float64(11), int64(5), object(6)
memory usage: 27.5+ KB

In [94]:
whr_20 = pd.read_excel('/Users/claudia/Ironhack/Final Project/Dataset/WHR20_reduced.xls')

In [95]:
whr_20

,Country,sub_region,Hippiness_score,sigma_happiness,upperwhisker,lowerwhisker,Log_GDP_per_capita,Social_support,Healthy_life_expectancy,Freedom_to_make_life_choices,Generosity,Perceptions_of_corruption,Dystopia + residual
0,Afghanistan,South Asia,2.5669,0.031311,2.628270,2.505530,0.300706,0.356434,0.266052,0.000000,0.135235,0.001226,1.507236
1,Albania,Central and Eastern Europe,4.8827,0.056116,4.992687,4.772713,0.906653,0.830484,0.846330,0.461946,0.171028,0.025361,1.640897
2,Algeria,Middle East and North Africa,5.0051,0.044236,5.091802,4.918397,0.943856,1.143004,0.745419,0.083944,0.118915,0.129191,1.840812
3,Argentina,Latin America and Caribbean,5.9747,0.053442,6.079446,5.869954,1.028466,1.372544,0.849774,0.520840,0.070100,0.060415,2.072541
4,Armenia,Commonwealth of Independent States,4.6768,0.058595,4.791646,4.561953,0.808262,1.034577,0.775857,0.378076,0.107226,0.104618,1.468162
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,Venezuela,Latin America and Caribbean,5.0532,0.064281,5.179190,4.927210,0.770239,1.348547,0.767026,0.271717,0.087179,0.063625,1.744841
149,Vietnam,Southeast Asia,5.3535,0.033801,5.419749,5.287251,0.718092,1.253075,0.819134,0.650836,0.136489,0.089848,1.685978
150,Yemen,Middle East and North Africa,3.5274,0.054158,3.633550,3.421250,0.392702,1.177477,0.415000,0.243721,0.094689,0.087352,1.116473
151,Zambia,Sub-Saharan Africa,3.7594,0.060677,3.878326,3.640474,0.536834,0.896037,0.363593,0.491318,0.250621,0.086705,1.134339
152,Zimbabwe,Sub-Saharan Africa,3.2992,0.058674,3.414202,3.184198,0.425564,1.047835,0.375038,0.377405,0.151349,0.080929,0.841031

In [96]:
whr_20.columns = [x.lower() for x in whr_20.columns]

In [98]:
ggg_20 = ggg_20.merge(whr_20, on='country', how='left')

In [100]:
ggg_20.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 153 entries, 0 to 152
Data columns (total 34 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Global_rank                   153 non-null    int64
 1   country                       153 non-null    object
 2   code                          144 non-null    object
 3   Region                        153 non-null    object
 4   regional_indicator            153 non-null    object
 5   Global_score                  153 non-null    float64
 6   Global_Delta_Rank_2018        149 non-null    object
 7   Global_2018_Score_change      149 non-null    object
 8   Global_2006_Score_change      115 non-null    float64
 9   P_rank                        153 non-null    int64
 10  P_score                       153 non-null    float64
 11  E_O_rank                      153 non-null    int64
 12  E_O_score                     153 non-null    float64
 13  E_rank                        153 non-null    int64
 14  E_score                       153 non-null    float64
 15  H_S_rank                      151 non-null    float64
 16  H_S_score                     151 non-null    float64
 17  pop_20                        153 non-null    int64
 18  wages_20_%                    153 non-null    float64
 19  parl_seats_20                 153 non-null    float64
 20  domestic_work_avg             85 non-null     float64
 21  labour_force_20               152 non-null    float64
 22  sub_region                    136 non-null    object
 23  hippiness_score               136 non-null    float64
 24  sigma_happiness               136 non-null    float64
 25  upperwhisker                  136 non-null    float64
 26  lowerwhisker                  136 non-null    float64
 27  log_gdp_per_capita            136 non-null    float64
 28  social_support                136 non-null    float64
 29  healthy_life_expectancy       136 non-null    float64
 30  freedom_to_make_life_choices  136 non-null    float64
 31  generosity                    136 non-null    float64
 32  perceptions_of_corruption     136 non-null    float64
 33  dystopia + residual           136 non-null    float64
dtypes: float64(22), int64(5), object(7)
memory usage: 41.8+ KB

In [101]:
ggg_20.to_csv(r'/Users/claudia/Ironhack/Final Project/Dataset/ggg_20.csv', index=False)